/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Roboto:wght@300;500;700&display=swap');


* {
    font-family: 'Poppins', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

header.shadow {
    background: rgb(255, 255, 255);
    transition: all 0.5s linear;
    z-index: 10000;
}

.logo {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--main-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.logo .bx {
    font-size: 24px;
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 5rem;
    align-items: center;
    margin-top: 16px;
}

.navbar li {
    position: relative;
    line-height: 100%;
}

.navbar a {
    font-size: 1.5 rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--text-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.3s all linear;
}

.navbar a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.icons {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 16px;
}

.search-text{
    border: none;
    outline: none;
    border-radius: 30px;
    width: 0;
}

.search-btn{
    padding: 5px 10px;
    background: none;
    position: relative;
    border: none;
    right: 50px;
    border-radius: 50%;
}

.search-box:hover .search-text{
    width: 250px;
    background: #bbbbbb;
    padding: 8px 50px 8px 15px;
    transition: 0.5s all ease;
} 

.search {
    color: var(--text-color);
    font-size: 1.5rem;
    position: relative;
    top: 5px;
}

.cart {
    color: var(--text-color);
    font-size: 1.8rem;
    position: relative;
    top: 3px;
}

.btnSI {
    padding: 0.7rem 1.4rem;
    background: var(--text-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 10px;
    text-decoration: none;
}

.btnSI:hover {
    background: var(--main-color);
}

.slide-item {
    width: 100%;
    min-height: 800px;
    position: relative;
    display: flex;
    align-items: center;
}

.slide-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.home-text {
    z-index: 1000;
    position: absolute;
    top: 40%;
    left: 20%;
}

.home-text span {
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.home-text h1 {
    color: var(--text-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.btnshop {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 15px;
    text-decoration: none;
}

.btnshop:hover {
    background: #000000;
    color: #fff;
    font-weight: 600;
}

/* banner */
.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner {
    width: 1400px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-item {
    width: 450px;
    height: 300px;
    border: 1px solid rgb(107, 105, 105);
    position: relative;
}

.banner-item:hover {
    background: rgba(80, 104, 209, 0.5);
    cursor: pointer;
    transition: 0.5s all ease;
}

.banner-item:hover .btn-banner {
    display: block;
}

.banner-item:hover .btn-banner::after {
    width: 100%;
    transition: 0.5s all ease;
}

.banner-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
}

.textbanner {
    z-index: 1000;
    position: absolute;
    top: 10%;
    left: 10%;
}
.textbanner a{
    text-decoration: none;
    color: var(--text-color);
}

.textbanner h2 {
    font-size: 2rem;
    font-weight: 600;
}

.btn-banner {
    font-size: 1.2rem;
    color: var(--bg-color);
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: none;
    transition: 0.5s all ease;
}

.btn-banner::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--bg-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s all ease;
}

/* list product */

.box-container{
    width: 1400px;
}

.heading {
    margin-right: auto;
    font-size: 1.5rem;
    padding-bottom: 3px;
    font-weight: 600;
    text-transform: uppercase;
}

.sub-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1rem;
}

.sub-menu ul {
    padding: 0;
    display: flex;
    justify-content: start;
}

.sub-menu ul li {
    margin-right: 20px;
}

.sub-menu ul li a {
    text-decoration: none;
    color: rgba(88, 88, 88, 0.575);
}

.sub-menu ul li a:hover {
    color: #000000;
}

/*  */
.list-product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-product .box{
    width: 310px;
    height: 470px;
}

.box .image{
    width: 320px;
    height: 390px;
    overflow: hidden;
}

.box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .image:hover img {
    scale: 110%;
    transition: all 0.5s ease;
}

.box .name-product,
p {
    font-size: 18px;
    font-weight: 300;
    color: var(--text-color);
    text-decoration: none;
}
.box p {
    padding-bottom: 20px;
}

.box .image .btnview {
    font-size: 1rem;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    border-radius: 35px;
    background: var(--bg-color);
    position: relative;
    display: block;
    transform: translate(80px, 30px)
}

.box .image .btnview:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

.box .image:hover .btnview {
    transform: translate(80px, -80px);
    transition: all 0.5s ease;
}

.load {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 100px;
}

.load a {
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: transparent;
    background: rgb(107, 107, 107);
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
}

.load a:hover {
    background: rgb(46, 46, 46);
    color: var(--bg-color);
    transition: 0.2s all linear;
}

/* footer */
#footer {
    width: 100%;
    height: 400px;
    font-size: 1em;
    color: #fff;
    text-align: justify;
    background: var(--text-color);
}

.footer-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    padding: 60px 60px 10px 60px;
    border-bottom: 1px solid var(--bg-color);
}

.footer {
    width: 330px;
    height: 250px;
    padding: 0 15px;
}

.footer h3 {
    font-size: 1.5rem;
    margin-left: 30px;
}

.footer ul {
    margin-top: 25px;
    list-style: none;

}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    margin: 15px 0;
    text-decoration: none;
    color: #fff;
}

.footer ul li a:hover {
    color: rgb(146, 144, 144);
}

.address ul li:last-child a {
    color: #ff0d00;
}